# Programming for Data Analysis

## Project 1: Generation of data

## Author: Daniel Mc Donagh

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.DataFrame(index = None)                # Creates a dataframe "df" using pandas dataframe function
rng = np.random.default_rng(seed = 1)  

person = []
for i in range (100):
    person.append ("Person {}".format(i+1))    # Appends person to each number from 1 to 100 as unique ID

df["person"] = person                          # Adds ccolumn name "person"

gender_choice = ["Male","Female"]
gender = rng.choice (gender_choice, p = [0.49, 0.51], size = 100) #(Numpy 2022)
for i in range (100):
     gender_choice.append ("gender_choice {}".format(i+1)) 

df["gender"] = gender

age = []                                         # creates empty list called age
for i in range(100):
    a= np.clip(rng.normal(40, 15), 15, 65)       # generates data from normal distribution around mean 40. Clips values below
    age.append(int(a))                           # 15 up to 15 and older than 65 are brought back to 65.
df["age"] = age


df.head()                                      # Displays top 5 rows of dataframe

     person  gender  age
0  Person 1  Female   44
1  Person 2  Female   30
2  Person 3    Male   52
3  Person 4  Female   38
4  Person 5    Male   50